@import "./abstracts/reset.css";
@import "./abstracts/utility-classes.css";
@import "./abstracts/properties.css";
@import "./abstracts/fonts.css";
@import "./abstracts/keyframes.css";

:root {
  --font-size-xs: 1.2rem;
  --font-size-xs-sm: 1.4rem;
  --font-size-sm: 1.7rem;
  --font-size-md: 2rem;
  --font-size-lg: 2.5rem;
  --font-size-xl: 3rem;
  @media (max-width: 768px) {
    --font-size-xs: 1.5rem;
    --font-size-xs-sm: 1.75rem;
    --font-size-sm: 2rem;
    --font-size-md: 2.5rem;
    --font-size-lg: 3rem;
    --font-size-xl: 3.5rem;
  }
  --default-font: "UbuntuMono", monospace;
  --color-grey: color-mix(in srgb, var(--color-dark) 40%, var(--color-light));
  --breakpoint-mobile: 768px;
  /* @media (max-width: 1024px) {
    font-size: 16px;
    } */
}

html {
  font-family: var(--default-font);
  font-size: 62.5%;
  color: var(--color-light);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For the canvas to occupy only the 100% not more. */
canvas {
  display: block;
}

html,
body,
#root,
main {
  width: 100%;
  /* for gecko mobile compatibility */
  height: var(--app-height);
  overflow: hidden;
  margin: 0;
  /* cursor: url('/src/assets/cursors/cursor.cur'), auto; */

  /* selection */
  ::selection {
    background-color: color-mix(in srgb, var(--color-grey) 60%, var(--color-darkest)); /* The highlight color */
    color: var(--color-light); /* The text color when highlighted */
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    width: 3px;
    display: block;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-darker);
    border-radius: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-grey);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-darker);
  }

  /* STEP 3: The Button Killer */
  ::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }
}

/* TODO: edit the cursor and the scrolling bar */
