.poppingWindow {
  position: fixed;
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  user-select: none;
  header {
    cursor: grab;
  }
}

.poppingWindow:active {
  cursor: grabbing;
}
