.textMoves {
     background-image: linear-gradient(
        90deg,
        var(--color-light) 0%,
        var(--color-light) 40%,
        var(--_shine-1, var(--_shine, grey)) 44%,
        var(--_shine-2, var(--_shine, grey)) 49%,
        var(--_shine-3, var(--_shine, grey)) 53%,
        var(--_shine-4, var(--_shine, grey)) 57%,
        var(--color-light) 60%,
        var(--color-light) 100%
    );
    background-size: 200% 100%;
    background-position: 180% 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: backgroundAlive 6s linear infinite var(--_delay);
}

@keyframes backgroundAlive {
    0%, 33%, 100% { background-position: 180% 0 }
    16% { background-position: -80% 0}
}