@property --color-dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #1c1c1c;
}
@property --color-darker {
  syntax: "<color>";
  inherits: false;
  initial-value: #333333;
}
@property --color-darkest {
  syntax: "<color>";
  inherits: false;
  initial-value: #000000;
}

@property --color-light {
  syntax: "<color>";
  inherits: false;
  initial-value: #fafbfd;
}
@property --color-grey {
  syntax: "<color>";
  inherits: false;
  initial-value: #888888;
}
@property --color-warning {
  syntax: "<color>";
  inherits: false;
  initial-value: #a12d1e;
}
@property --line-height-sm {
  syntax: "<number>";
  inherits: false;
  initial-value: 1.2;
}
/* just for reference: */
/* @property --breakpoint-mobile {
  syntax: "<length>";
  inherits: false;
  initial-value: 767px;
}
@property --breakpoint-tablet {
  syntax: "<length>";
  inherits: false;
  initial-value: 768px;
}
@property --breakpoint-desktop {
  syntax: "<length>";
  inherits: false;
  initial-value: 1024px;
}
@property --breakpoint-big-screen {
  syntax: "<length>";
  inherits: false;
  initial-value: 1440px;
} */