.uiButton {
  color: var(--color-light);
  border: none;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  background: transparent;
  &:hover {
    background: color-mix(in srgb, var(--color-light) 10%, transparent);
  }
  &:active {
    background: color-mix(in srgb, var(--color-light) 20%, transparent);
  }
  @media (max-width: 767px) {
    padding: 0 1.5rem;
  }
}
